
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {background-color:#f5f5f5}
.main {position: relative}
.space-right {margin-right: 8px;}
.navbar-brand {height:55px}
.main{min-height:340px}
.panel {position:relative}
.upper-right-corner {position:absolute; top: 5px; right: 5px}

/* Nudge the search button */
.search-form{margin-bottom:20px;vertical-align:top;}

.waiting {
    display: none; 
    width: 100%;
    background-color: white;
    position: absolute;
    right: 0px;
    opacity: .5;
    background-image: url('../img/spinner.gif');
    background-repeat: no-repeat;
    background-attachment:local;
    background-position:center;
}

.preview {
    /* margin-left: 15px; */
    color:gray;
}

.highlight {
    background-color: yellow;
    font-weight: bold;
}

/* Add Andoroid-Style Menu Bar */
.navbar-toggle .icon-bar {
    width: 4px !important;
    height: 4px !important;
}
.navbar-toggle .icon-bar + .icon-bar{
    margin-top: 3px !important;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Large desktops and laptops */
@media (min-width: 1200px) {
    .main{min-height:600px}
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

    .main{min-height:680px}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

    .main{min-height:460px}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

    .main{min-height:800px}
}

/* Landscape phones and smaller */
@media (max-width: 480px) {

}


