

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {background-color:#f5f5f5}
.panel {position:relative}
.upper-right-corner {position:absolute; top: 5px; right: 5px}
/* Large desktop */
@media (min-width: 1200px) { ... }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { body{padding-top:130px } }
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { body{padding-top:130px;}}
 
/* Landscape phones and down */
@media (max-width: 480px) { body{padding-top:130px;}}

/* Nudge the search button */
.search-form{margin-bottom:20px}










